
@using Ecommerce.Shared.Entities.Orders;

    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN checkout -->
        <div class="checkout">
            <EditForm Model="@ShippingInfo" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                <!-- BEGIN checkout-body -->
                <div class="checkout-body">
                    <div class="mb-2 row">
                        <label class="col-form-label col-md-4 text-lg-end">
                            First Name <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="ShippingInfo.FirstName" placeholder="First Name" />
                            <ValidationMessage For="@(() => ShippingInfo.FirstName)" />
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-form-label col-md-4 text-lg-end">
                            Last Name <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="ShippingInfo.LastName" placeholder="Last Name" />
                            <ValidationMessage For="@(() => ShippingInfo.LastName)" />
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-form-label col-md-4 text-lg-end">
                            Company Name (optional)
                        </label>
                        <div class="col-md-8">
                            <InputText class="form-control" @bind-Value="ShippingInfo.CompanyName" placeholder="Company Name" />
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-form-label col-md-4 text-lg-end">
                            Area Code <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="ShippingInfo.AreaCode" placeholder="Area Code" />
                            <ValidationMessage For="@(() => ShippingInfo.AreaCode)" />
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-form-label col-md-4 text-lg-end">
                            Primary Phone <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="ShippingInfo.PrimaryPhone" placeholder="Primary Phone" />
                            <ValidationMessage For="@(() => ShippingInfo.PrimaryPhone)" />
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-form-label col-md-4 text-lg-end">
                            Street Address <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="ShippingInfo.StreetAddress" placeholder="Street Address" />
                            <ValidationMessage For="@(() => ShippingInfo.StreetAddress)" />
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-form-label col-md-4 text-lg-end">
                            ZIP Code <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="ShippingInfo.ZipCode" placeholder="ZIP Code" />
                            <ValidationMessage For="@(() => ShippingInfo.ZipCode)" />
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-form-label col-md-4"></label>
                        <div class="col-md-4">
                            <div class="form-check">
                                <InputCheckbox class="form-check-input" @bind-Value="ShippingInfo.IsBusinessAddress" />
                                <label class="form-check-label" for="business_address">
                                    This is a business address
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
              
                </div>
                <!-- END checkout-body -->
            </EditForm>
        </div>
        <!-- END checkout -->
    </div>
    <!-- END container -->



@code {
    [Parameter]
    public Order ShippingInfo { get; set; }

    private void HandleValidSubmit()
        {
        // Handle the submission logic, e.g., saving shipping information
        Console.WriteLine("Shipping info saved successfully");
        }

}
