@page "/Checkout"
@using Ecommerce.Web.Services
@inject ICartService CartService
@using Ecommerce.Web.Components.Toast
<div class="section-container" id="checkout-cart">
    <div class="container">
        <div class="checkout">
            <form name="form_checkout">
                <div class="checkout-header">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="step @(currentStep == 1 ? "active" : "")">
                                <a href="#" @onclick="() => SetStep(1)">
                                    <div class="number">1</div>
                                    <div class="info">
                                        <div class="title">Delivery Options</div>
                                        <div class="desc">Lorem ipsum dolor sit amet.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="step @(currentStep == 2 ? "active" : "")">
                                <a href="#" @onclick="() => SetStep(2)">
                                    <div class="number">2</div>
                                    <div class="info">
                                        <div class="title">Shipping Address</div>
                                        <div class="desc">Vivamus eleifend euismod.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="step @(currentStep == 3 ? "active" : "")">
                                <a href="#" @onclick="() => SetStep(3)">
                                    <div class="number">3</div>
                                    <div class="info">
                                        <div class="title">Payment</div>
                                        <div class="desc">Aenean ut pretium ipsum.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="step @(currentStep == 4 ? "active" : "")">
                                <a href="#" @onclick="() => SetStep(4)">
                                    <div class="number">4</div>
                                    <div class="info">
                                        <div class="title">Complete Payment</div>
                                        <div class="desc">Curabitur interdum libero.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-body">
                    @if (currentStep == 1)
                    {<div class="checkout-body">
                            <div class="table-responsive">

                                @if (CartItems != null && CartItems.Count > 0)
                                {
                                    <table class="table table-cart">
                                        <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th class="text-center">Price</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in CartItems)
                                            {
                                                <tr>
                                                    <td class="cart-product">
                                                        <div class="d-flex">
                                                            <div class="product-img h-150px w-100px d-flex align-items-center justify-content-center">
                                                                @*<img src="../assets/img/product/product-iphone-12.png" class="mw-100 mh-100" alt="" />*@


                                                                <img src="@UrlHelper.GetImageUrl(item.VariantId, item.ImageName)" class="mw-100 mh-100" alt="" />
                                                            </div>
                                                            <div class="product-info ms-3">
                                                                <div class="title">
                                                                    @item.ImageName  <button class="btn btn-outline-secondary btn-sm m-1" style="background-color:@(item.Color); height:20px"></button>
                                                                </div>
                                                                @*<div class="desc">Delivers Tue 26/04/2024 - Free</div>*@
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="cart-price text-center">€@item.VariantPrice</td>
                                                    <td class="cart-qty text-center">
                                                        <div class="cart-qty-input">
                                                            <a href="#" class="qty-control left disabled" data-click="decrease-qty" data-target="#qty"><i class="fa fa-minus"></i></a>
                                                            <input type="text" name="qty" value="1" class="form-control" id="qty" readonly />
                                                            <a href="#" class="qty-control right disabled" data-click="increase-qty" data-target="#qty"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                        <div class="qty-desc">1 to max order</div>
                                                    </td>
                                                    <td class="cart-total text-center">
                                                        €@item.VariantPrice
                                                    </td>
                                                </tr>


                                            }
                                            <tr>
                                                <td class="cart-summary" colspan="4">
                                                    <div class="summary-container">
                                                        <div class="summary-row">
                                                            <div class="field">Cart Subtotal</div>
                                                            <div class="value">€@CalculateCartTotal()</div>
                                                        </div>
                                                        <div class="summary-row text-danger">
                                                            <div class="field">Free Shipping</div>
                                                            <div class="value">$0.00</div>
                                                        </div>
                                                        <div class="summary-row total">
                                                            <div class="field">Total</div>
                                                            <div class="value">€@CalculateCartTotal()</div>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }

                            </div>
                        </div>

                    }
                    else if (currentStep == 2)
                    {
                        <CheckoutInfo />
                    }
                    else if (currentStep == 3)
                    {
                        <CheckoutPayment />
                    }
                    else if (currentStep == 4)
                    {
                        <CheckoutComplete />
                    }
                </div>
                <div class="checkout-footer d-flex">
                    <a href="#" class="btn btn-white btn-lg me-auto btn-theme w-250px">CONTINUE SHOPPING</a>
                    <button type="submit" class="btn btn-dark btn-lg btn-theme w-250px">CHECKOUT</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="policy" class="section-container bg-component">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                <div class="policy">
                    <div class="policy-icon"><i class="fa fa-truck"></i></div>
                    <div class="policy-info">
                        <h4>Free Delivery Over $100</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                <div class="policy">
                    <div class="policy-icon"><i class="fa fa-umbrella"></i></div>
                    <div class="policy-info">
                        <h4>1 Year Warranty For Phones</h4>
                        <p>Cras laoreet urna id dui malesuada gravida. <br />Duis a lobortis dui.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="policy">
                    <div class="policy-icon"><i class="fa fa-user-md"></i></div>
                    <div class="policy-info">
                        <h4>6 Month Warranty For Accessories</h4>
                        <p>Fusce ut euismod orci. Morbi auctor, sapien non eleifend iaculis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<CartItemDto> CartItems = new List<CartItemDto>();
    private int currentStep = 1;
    [Inject]
    public ToastService ToastService { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            try
            {
                CartItems = await CartService.GetItems();
                StateHasChanged();
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error loading cart items: " + ex.Message);
            }

        }


    }
    public void ShowToast()
    {
        ToastService.ShowToast("Employee addded Successfully", ToastLevel.Success);
    }



    private void SetStep(int step)
    {
        currentStep = step;
    }

    private  double CalculateCartTotal()
    {
        return CartItems.Sum(item => item.VariantPrice * item.Qty);
    }
}
