@page "/Product"
@inject IProductVariantService productVariantService
@using Ecommerce.Shared.Entities;
@using Ecommerce.Web.Services;
@inject ICartService CartService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject ICategoryService CategoryService
@using Ecommerce.Web.Services;
@inject CartStateService CartStateService
<style>
    /* Custom style */
    .accordion-button {
        background-color: #348fe2; /* Blue background color */
        color: white; /* White text color */
        border: none; /* Remove border */
    }

        .accordion-button:not(.collapsed) {
            background-color: #d0d1d2; /* Darker blue when expanded */
        }

        .accordion-button::after {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
            transform: scale(.7) !important;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
        }

    .accordion-body {
        border-top: none; /* Remove top border */
    }

    .table.table-product {
        line-height: 0.1 !important;
    }
</style>



@if (ProductVariant != null && ProductVariant.Id > 0)
    {


    <div id="product" class="section-container pt-20px">
        <!-- BEGIN container -->
        <div class="container">

            <!-- BEGIN breadcrumb -->
            @if (CategoryTree != null && CategoryTree.Any())
                {
                <ul class="breadcrumb">
                    @for (int i = 0; i < CategoryTree.Count; i++)
                        {
                        var category = CategoryTree[i];
                        if (i == CategoryTree.Count - 1)
                            {
                            <li class="breadcrumb-item active">@category.Name</li>
                            }
                        else
                            {
                            <li class="breadcrumb-item">
                                <a href="/ProductByCategory?Id=@category.Id">@category.Name</a>
                            </li>
                            }
                        }
                </ul>
                }
            else
                {
                }

            <!-- END breadcrumb -->
            <!-- BEGIN product -->


            <div class="product">
                <!-- BEGIN product-detail -->
                <div class="product-detail">
                    <!-- BEGIN product-image -->
                    <div class="product-image">
                        <!-- BEGIN product-thumbnail -->
                        <div class="product-thumbnail">
                            <ul class="product-thumbnail-list">

                                @if (ProductVariant.productVariantImages != null && ProductVariant.productVariantImages.Count() > 0)
                                    {
                                    foreach (var variant in ProductVariant.productVariantImages)
                                        {

                                        <li><a href="#" data-click="show-main-image" data-url="@UrlHelper.GetImageUrl(ProductVariant.Id, variant.ImageName)"><img src="@UrlHelper.GetImageUrl(ProductVariant.Id, variant.ImageName)" alt="" /></a></li>

                                        }

                                    }
                                @*@if (ProductVariant.ProductVariantMedia != null && ProductVariant.ProductVariantMedia.Count() > 0)
                                    {
                                    foreach (var variant in ProductVariant.ProductVariantMedia)
                                        {

                                        <li class="active"><a href="#" data-click="show-main-image" data-url="@variant.MediaUrl"><img src=@variant.MediaUrl alt="" /></a></li>

                                        }

                                    }*@

                            </ul>
                        </div>
                        <!-- END product-thumbnail -->
                        <!-- BEGIN product-main-image -->
                        <div class="product-main-image" data-id="main-image">
                            @if (ProductVariant.DefaultImageUrl != null)
                                {
                                <img src="@UrlHelper.GetImageUrl(ProductVariant.Id, ProductVariant.DefaultImageUrl)" alt="" />
                                }
                            else
                                {
                                <img src="@ProductVariant.Thumbnail" alt="" />
                                }

                        </div>
                        <!-- END product-main-image -->
                    </div>
                    <!-- END product-image -->
                    <!-- BEGIN product-info -->
                    <div class="product-info">
                        <!-- BEGIN product-info-header -->
                        <div class="product-info-header">

                            <h1 class="product-title">
                                @if (ProductVariant.discountPercentage > 0)
                                    {
                                    <span class="badge bg-primary">@ProductVariant.discountPercentage % OFF</span>
                                    }
                                @ProductVariant.Name - #@ProductVariant.Sku
                            </h1>
                            <ul class="product-category">
                                @Categories
                            </ul>
                        </div>

                        <div class="product-warranty">
                            <div class="pull-right">Availability: In stock</div>
                            @if (ProductVariant.year > 0)
                                {
                                <div><b>Build Year</b> @ProductVariant.year</div>
                                }
                            @if (ProductVariant.Color != null)
                                {
                                <div>
                                    <b>Color:</b>

                                    <button class="btn btn-outline-secondary btn-sm m-1" style="background-color:@(ProductVariant.Color); height:20px">
                                    </button>

                                </div>
                                }

                            @if (ProductVariant.Size != null)
                                {


                                <div> <b>Size: &nbsp;&nbsp;&nbsp;</b> @ProductVariant.Size</div>


                                }
                            @if (ProductVariant.Sku != null)
                                {
                                <div><b>SKU: &nbsp;&nbsp;&nbsp;</b> @ProductVariant.Sku</div>


                                }
                            @if (ProductVariant.Brand != null && ProductVariant.Brand != "")
                                {
                                <div><b>Brand: &nbsp;&nbsp;&nbsp;</b> @ProductVariant.Brand</div>


                                }



                            @if (ProductVariant.ProductVariantMedia != null && ProductVariant.ProductVariantMedia.Count() > 0)
                                {
                                foreach (var variant in ProductVariant.ProductVariantMedia)
                                    {

                 
                                    <a href="@variant.MediaUrl" target="_blank">View Attachement</a>

                                    }

                                }





                        </div>

                        @*<ul class="product-info-list">
                                <li><i class="fa fa-circle"></i> ...........</li>
                                <li><i class="fa fa-circle"></i> ...........</li>
                                <li><i class="fa fa-circle"></i> ...........</li>

                            </ul>*@

                        <div class="product-social">
                            <ul>
                                <li><a href="javascript:;" class="facebook" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Facebook" data-bs-placement="top"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:;" class="twitter" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Twitter" data-bs-placement="top"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:;" class="google-plus" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Google Plus" data-bs-placement="top"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="javascript:;" class="whatsapp" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Whatsapp" data-bs-placement="top"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="javascript:;" class="tumblr" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Tumblr" data-bs-placement="top"><i class="fab fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                        <!-- END product-social -->
                        <!-- BEGIN product-purchase-container -->
                        <div class="product-purchase-container">
                            <div class="product-discount">
                                <span class="discount text-gray">€@ProductVariant.ProductPrice</span>
                            </div>
                            <div class="product-price">
                                <div class="price">€@ProductVariant.VariantPrice</div>
                                <span class="text-danger text-bold"> Only 1 left in stock - order soon. </span>
                            </div>

                            <button type="button" @onclick="@AddToCart" class="btn btn-dark btn-theme btn-lg w-200px">ADD TO CART</button>

                        </div>
                        <!-- END product-purchase-container -->
                    </div>
                    <!-- END product-info -->
                </div>
                <!-- END product-detail -->
                <!-- BEGIN product-tab -->
                <div class="product-tab">
                    <!-- BEGIN #product-tab -->
                    <ul id="product-tab" class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#product-desc" data-bs-toggle="tab">Product Description</a></li>
                        <li class="nav-item"><a class="nav-link" href="#product-info" data-bs-toggle="tab">Additional Information</a></li>
                        <li class="nav-item"><a class="nav-link" href="#product-reviews" data-bs-toggle="tab">Rating & Reviews (5)</a></li>
                    </ul>
                    <!-- END #product-tab -->
                    <!-- BEGIN #product-tab-content -->
                    <div id="product-tab-content" class="tab-content">
                        <!-- BEGIN #product-desc -->
                        <div class="tab-pane fade active show" id="product-desc">
                            <!-- BEGIN product-desc -->
                            <div class="product-desc">
                                <div class="image">
                                    <img src="@(string.IsNullOrEmpty(ProductVariant.Thumbnail) ? UrlHelper.GetImageUrl(ProductVariant.Id, ProductVariant.DefaultImageUrl) : ProductVariant.Thumbnail)"
                                         alt="Product Image" style="max-height:200px;max-width:200px" />

                                </div>
                                <div class="desc">
                                    <h4>@ProductVariant.Name</h4>
                                    <p>
                                        @ProductVariant.Description
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- Template -->

                        <div class="tab-pane fade" id="product-info">
                            <!-- BEGIN table-responsive -->


                            <div class="table-responsive">
                                <table class="table table-md table-bordered">
                                    @if (clusters != null && clusters.Count() > 0)
                                        {
                                        <!-- Table Headers -->
                                        @foreach (var cluster in clusters)
                                            {
                                            <thead class="table-light">
                                                <tr>
                                                    <th colspan="2"><strong>@cluster.Cluster</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var feature in cluster.Features)
                                                    {
                                                    <tr>
                                                        <td>@feature.Feature</td>
                                                        <td>@feature.Value</td>
                                                    </tr>
                                                    }
                                            </tbody>
                                            }
                                        }
                                    else
                                        {
                                        <thead>
                                            <tr>
                                                <th colspan="2">No Data Available</th>
                                            </tr>
                                        </thead>
                                        }
                                </table>
                            </div>



                            <!-- END table-responsive -->
                        </div>
                        <!-- END #product-info -->
                        <!-- BEGIN #product-reviews -->
                        <div class="tab-pane fade" id="product-reviews">
                            <!-- BEGIN row -->
                            <div class="row row-space-30">
                                <!-- BEGIN col-7 -->
                                <div class="col-md-7 mb-4 mb-lg-0">
                                    <!-- BEGIN review -->
                                    <div class="review">
                                        <div class="review-info">
                                            <div class="review-icon"><img src="../assets/img/user/user-1.jpg" alt="" /></div>
                                            <div class="review-rate">
                                                <ul class="review-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class=""><i class="far fa-star"></i></li>
                                                </ul>
                                                (4/5)
                                            </div>
                                            <div class="review-name">Terry</div>
                                            <div class="review-date">24/05/2024 7:40am</div>
                                        </div>
                                        <div class="review-title">
                                            What does “SIM-free” mean?
                                        </div>
                                        <div class="review-message">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in imperdiet augue. Integer non aliquam eros. Cras vehicula nec sapien pretium sagittis. Pellentesque feugiat lectus non malesuada aliquam. Etiam id tortor pretium, dictum leo at, malesuada tortor.
                                        </div>
                                    </div>
                                    <!-- END review -->
                                    <!-- BEGIN review -->
                                    <div class="review">
                                        <div class="review-info">
                                            <div class="review-icon"><img src="../assets/img/user/user-2.jpg" alt="" /></div>
                                            <div class="review-rate">
                                                <ul class="review-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class=""><i class="far fa-star"></i></li>
                                                    <li class=""><i class="far fa-star"></i></li>
                                                </ul>
                                                (3/5)
                                            </div>
                                            <div class="review-name">George</div>
                                            <div class="review-date">24/05/2024 8:40am</div>
                                        </div>
                                        <div class="review-title">
                                            When I buy iPhone from apple.com, is it tied to a carrier or does it come “unlocked”?
                                        </div>
                                        <div class="review-message">
                                            In mauris leo, maximus at pellentesque vel, pharetra vel risus. Aenean in semper velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi volutpat mattis neque, at molestie tellus ultricies quis. Ut lobortis odio nec nunc ullamcorper, vitae faucibus augue semper. Sed luctus lobortis nulla ac volutpat. Mauris blandit scelerisque sem.
                                        </div>
                                    </div>
                                    <!-- END review -->
                                    <!-- BEGIN review -->
                                    <div class="review">
                                        <div class="review-info">
                                            <div class="review-icon"><img src="../assets/img/user/user-3.jpg" alt="" /></div>
                                            <div class="review-rate">
                                                <ul class="review-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                </ul>
                                                (5/5)
                                            </div>
                                            <div class="review-name">Steve</div>
                                            <div class="review-date">23/05/2024 8:40am</div>
                                        </div>
                                        <div class="review-title">
                                            Where is the iPhone Upgrade Program available?
                                        </div>
                                        <div class="review-message">
                                            Duis ut nunc sem. Integer efficitur, justo sit amet feugiat hendrerit, arcu nisl elementum dui, in ultricies erat quam at mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec nec ultrices tellus. Mauris elementum venenatis volutpat.
                                        </div>
                                    </div>
                                    <!-- END review -->
                                    <!-- BEGIN review -->
                                    <div class="review">
                                        <div class="review-info">
                                            <div class="review-icon"><img src="../assets/img/user/user-4.jpg" alt="" /></div>
                                            <div class="review-rate">
                                                <ul class="review-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class=""><i class="far fa-star"></i></li>
                                                    <li class=""><i class="far fa-star"></i></li>
                                                    <li class=""><i class="far fa-star"></i></li>
                                                </ul>
                                                (2/5)
                                            </div>
                                            <div class="review-name">Alfred</div>
                                            <div class="review-date">23/05/2024 10.02am</div>
                                        </div>
                                        <div class="review-title">
                                            Can I keep my current service plan if I choose the iPhone Upgrade Program?
                                        </div>
                                        <div class="review-message">
                                            Donec vel fermentum quam. Vivamus scelerisque enim eget tristique auctor. Vivamus tempus, turpis iaculis tempus egestas, leo augue hendrerit tellus, et efficitur neque massa at neque. Aenean efficitur eleifend orci at ornare.
                                        </div>
                                    </div>
                                    <!-- END review -->
                                    <!-- BEGIN review -->
                                    <div class="review">
                                        <div class="review-info">
                                            <div class="review-icon"><img src="../assets/img/user/user-5.jpg" alt="" /></div>
                                            <div class="review-rate">
                                                <ul class="review-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                </ul>
                                                (5/5)
                                            </div>
                                            <div class="review-name">Edward</div>
                                            <div class="review-date">22/05/2024 9.30pm</div>
                                        </div>
                                        <div class="review-title">
                                            I have an existing carrier contract or installment plan. Can I purchase with the iPhone Upgrade Program
                                        </div>
                                        <div class="review-message">
                                            Aliquam consequat ut turpis non interdum. Integer blandit erat nec sapien sollicitudin, a fermentum dui venenatis. Nullam consequat at enim et aliquet. Cras mattis turpis quis eros volutpat tristique vel a ligula. Proin aliquet leo mi, et euismod metus placerat sit amet.
                                        </div>
                                    </div>
                                    <!-- END review -->
                                </div>
                                <!-- END col-7 -->
                                <!-- BEGIN col-5 -->
                                <div class="col-md-5">
                                    <!-- BEGIN review-form -->
                                    <div class="review-form">
                                        <form action="product_detail.html" name="review_form" method="POST">
                                            <h2>Write a review</h2>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="name" />
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Title <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="email" />
                                            </div>
                                            <div class="mb-3">
                                                <label for="review" class="form-label">Review <span class="text-danger">*</span></label>
                                                <textarea class="form-control" rows="8" id="review"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Rating  <span class="text-danger">*</span></label>
                                                <div class="rating rating-selection" data-rating="true" data-target="rating">
                                                    <i class="far fa-star" data-value="2"></i>
                                                    <i class="far fa-star" data-value="4"></i>
                                                    <i class="far fa-star" data-value="6"></i>
                                                    <i class="far fa-star" data-value="8"></i>
                                                    <i class="far fa-star" data-value="10"></i>
                                                    <span class="rating-comment">
                                                        <span class="rating-comment-tooltip">Click to rate</span>
                                                    </span>
                                                </div>
                                                <select name="rating" class="hide">
                                                    <option value="2">2</option>
                                                    <option value="4">4</option>
                                                    <option value="6">6</option>
                                                    <option value="8">8</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-dark btn-theme btn-lg">Submit Review</button>
                                        </form>
                                    </div>
                                    <!-- END review-form -->
                                </div>
                                <!-- END col-5 -->
                            </div>
                            <!-- END row -->
                        </div>
                        <!-- END #product-reviews -->
                    </div>
                    <!-- END #product-tab-content -->
                </div>
                <!-- END product-tab -->
            </div>
            <!-- END product -->
            <!-- BEGIN similar-product -->
            <h4 class="mb-15px mt-30px">You Might Also Like</h4>
            <div class="row gx-2">
                @if (TopTenProducts != null && TopTenProducts.Count > 0)
                    {

                    int count = 0;
                    foreach (var variant in TopTenProducts)
                        {
                        if (count >= 6) break; //
                        <div class="col-lg-2 col-md-4">
                            <!-- BEGIN item -->
                            <div class="item item-thumbnail">
                                <a href="/" class="item-image">
                                    <img src="@(!string.IsNullOrEmpty(variant.Thumbnail) ? variant.Thumbnail : UrlHelper.GetVariantImageUrl(variant.Id, variant.DefaultImageUrl))"
                                         class="img-fluid"
                                         style="object-fit: contain; max-width: 100%; max-height: 100%;"
                                         alt="Product Image">



                                    @{
                                        int discountPercentage;
                                        double discount = variant.ProductPrice - variant.VariantPrice;
                                        if (discount > 0)
                                            {
                                            discountPercentage = (int)Math.Round((discount / variant.ProductPrice) * 100);

                                            <div class="discount">
                                                @discountPercentage% OFF
                                            </div>
                                            }
                                    }
                                </a>
                                <div class="item-info">
                                    <h4 class="item-title" style="min-height: 3em; align-items: center; overflow: hidden;">
                                        <a href="/" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;text-align:center">
                                            @variant.Name
                                        </a>
                                    </h4>



                                    <p class="item-desc">@variant.Description</p>
                                    <div class="item-price">@variant.VariantPrice</div>
                                    <div class="item-discount-price">@variant.ProductPrice</div>
                                </div>
                            </div>
                            <!-- END item -->
                        </div>

                        count++;

                        }
                    }



            </div>
            <!-- END similar-product -->
        </div>
        <!-- END container -->
    </div>

    }

else
    {

    }


@code
{



    [Parameter]
    [SupplyParameterFromQuery(Name = "Id")]
    public long Id { get; set; }
    private ProductVariantDetailDto ProductVariant = new ProductVariantDetailDto();
    private List<ClusterFeatureDto> clusters;
    private string Categories = "";
    private List<CategoryDto> CategoryTree = new List<CategoryDto>();
    private List<ProductVariantDto> TopTenProducts = new List<ProductVariantDto>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (firstRender)
            {
            try
                {
                await LoadProductVariants(Id);
                await GetCategoryHierarchyAsync(ProductVariant.CategoryId);
                StateHasChanged();
                _ = LoadTopTenProductsAsync();
                }
            catch (Exception ex)
                {

                Console.WriteLine("Error loading cart items: " + ex.Message);
                }

            }

        await base.OnAfterRenderAsync(firstRender);
        }

    private async Task LoadProductVariants(long Id)
        {
        try
            {
            var response = await productVariantService.GetProductVariantDetailByIdAsync(Id);
            if (response.Success)
                {
                ProductVariant = response.Data;
                await LoadProductVariantFeatures(ProductVariant.ProductId);
                }
            else
                {

                }
            }
        catch (Exception ex)
            {

            }
        }


    private async Task GetCategoryHierarchyAsync(long Id)
        {
        try
            {
            var response = await CategoryService.GetCategoryHierarchyAsync(Id);
            if (response.Success)
                {
                CategoryTree = response.Data;
                if (CategoryTree != null && CategoryTree.Count() == 4)
                    {
                    Categories = CategoryTree[3].Name + " / " + CategoryTree[2].Name + " / " + CategoryTree[2].Name + " / " + CategoryTree[0].Name;
                    }
                }
            else
                {

                }
            }
        catch (Exception ex)
            {

            }
        }

    private async Task LoadProductVariantFeatures(long ProductId)
        {
        try
            {
            var response = await productVariantService.GetClusterFeaturesAsync(ProductId);
            if (response.Success)
                {
                clusters = response.Data;
                StateHasChanged();
                }
            else
                {
                }
            }
        catch (Exception ex)
            {

            }
        }
    private async Task AddToCart()
        {
        try
            {
            var currentCartItems = await CartService.GetItems();
            var existingItem = currentCartItems.FirstOrDefault(item => item.VariantId == ProductVariant.Id);

            if (existingItem == null)
                {

                var cartItem = new CartItemDto
                    {
                    VariantId = ProductVariant.Id,
                    ProductId = ProductVariant.ProductId,
                    VariantName = ProductVariant.Name,
                    Qty = 1,
                    VariantPrice = ProductVariant.VariantPrice,
                    ProducrPrice = ProductVariant.ProductPrice,
                    ImageName = ProductVariant.DefaultImageUrl,
                    Thumbnail = ProductVariant.Thumbnail,
                    Color = ProductVariant.Color
                    };
                await CartService.AddItem(cartItem);

                var cartItems = await CartService.GetItems();
                CartStateService.CartItemCount = cartItems.Count;

                }
            else
                {

                }
            NavigationManager.NavigateTo("/Checkout");

            }
        catch (Exception ex)
            {
            Console.WriteLine("Error adding item to cart: " + ex.Message);
            }
        }


    private async Task LoadTopTenProductsAsync()
        {
        try
            {
            var response = await productVariantService.GetTopTenProductVariantsByCategoryAsync(ProductVariant.CategoryId);
            if (response.Success)
                {
                TopTenProducts = response.Data;
                StateHasChanged();
                }
            }
        catch (Exception ex)
            {
            Console.WriteLine("Error loading top 10 products: " + ex.Message);
            }
        }

}