
@page "/AddCategory"
@page "/category-tree"
@using Ecommerce.Shared.Dto;
@inject IDialogService DialogService
@using Ecommerce.Shared.Services.Categories;
@inject ICategoryService CategoryService
@inject ISnackbar Snackbar
@using Ecommerce.Shared.Services.Shared;
@inject ILanguageService languageService
@rendermode @(new InteractiveServerRenderMode(prerender: false))
<style>
    .custom-tree-item {
        color: gray;
        font-weight: bold;
    }

    .custom-tree-item-selected {
        color: rgb(13 16 18);
        background-color: rgb(185 207 231 / 10%);
        font-weight: bold;
    }
    .selected-node {
        background-color: #c4c4c4!important;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
    }



</style>
<div class="d-flex align-items-center mb-3">
    <div>
        <ol class="breadcrumb mb-2">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Categories</li>
        </ol>
    </div>
    <div class="ms-auto">
        <button @onclick="() => OpenAddDialog(null)" class="btn btn-General btn-rounded px-4 rounded-pill"><i class="fa fa-plus fa-lg me-2 ms-n2 text-primary-900"></i>Add Category</button>
    </div>
</div>

<div class="col-xl-12">

    <div class="panel panel-inverse" data-sortable-id="tree-view-1" style="min-height:500px">
        <div class="panel-heading">
            <h4 class="panel-title">
                Category

            </h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body">
            @*<div class="mb-2">
                <button href="javascript:;" class="btn btn-sm btn-General" @onclick="() => OpenAddDialog(null)">
                    <span class="d-flex align-items-center text-start">
                        <i class="fab fa-plus"></i>
                        <span>
                            <span class="d-block"><b> &nbsp;Main Level</b></span>

                        </span>
                    </span>
                </button>
            </div>*@
            @if (IsLoading)
                {
                <div class="text-center">
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                </div>
                }


            <MudTreeView Items="@TreeItems" Hover  Width="100%" T="CategoryDto">
                <ItemTemplate Context="item">
                    <MudTreeViewItem     Class="@(_selectedItem == item.Value ? "selected-node" : "")" @onclick="() => SelectItem(item.Value)" Items="@item.Children" sm="6" ExpandedChanged="@((bool expanded) => OnToggleClicked(item.Value, expanded))">
                        <BodyContent>
                            @if (!string.IsNullOrEmpty(item.Icon))
                                {

                                var icon = "/Category/" + item.Value.Id.ToString() + "/" + item.Icon;

                                <img src="@icon" alt="@icon" style="height: 24px; width: 24px" />
                                }
                            else
                                {
                                <i class="fas fa-lg fa-fw me-10px fa-folder-open"></i>
                                }
                            <div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">

                                <MudText Style="justify-self: start;">&nbsp;&nbsp;&nbsp; @item.Value.Name </MudText>
                                <div style="justify-self: end;">
                                    @if ((item.Value.MarkCategory))
                                        {
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" title="Marked – Click to Unmark" @onclick="() => MarkCategory(item.Value)">
                                            <i class="fa fa-check"></i>
                                        </button>


                                        }
                                    else
                                        {
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" title="UnMarked – Click to Mark" @onclick="() => MarkCategory(item.Value)">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        }
                                    <button style="margin-left:3px" type="button" class="btn btn-success btn-sm" data-bs-toggle="tooltip" title="Add" @onclick="() => OpenAddDialog(item.Value)">
                                        <i class="fas fa-plus"></i>
                                    </button>

                                    <button type="button" class="btn btn-yellow btn-sm" data-bs-toggle="tooltip" title="Edit" @onclick="() => OpenEditDialog(item.Value)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" title="Delete" @onclick="() => ConfirmRemoveDialog(item.Value)">
                                        <i class="fas fa-trash"></i>
                                    </button>



                                </div>
                            </div>
                        </BodyContent>
                    </MudTreeViewItem>
                </ItemTemplate>
            </MudTreeView>
        </div>

    </div>

</div>



@code {

    private List<TreeItemData<CategoryDto>> TreeItems { get; set; } = new List<TreeItemData<CategoryDto>>();
    private bool IsLoading { get; set; } = false;
    private List<Language> Languages = new List<Language>();
    private int SelectedLanguageId;
    #region

    protected override async Task OnInitializedAsync()
        {

        }




    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (firstRender)
            {
            await LoadCategoryTreeAsync();
            await LoadLanguagesAsync();
            StateHasChanged();
            }
        }


    private async Task LoadCategoryTreeAsync()
        {
        try
            {
            IsLoading = true;
            var response = await CategoryService.GetCategoriesAsyncWithTranslation(null);

            if (response.Success)
                {
                TreeItems = response.Data.Select(category => new TreeItemData<CategoryDto>
                    {
                    Value = category,
                    Children = category.SubCategories != null
         ? category.SubCategories.Select(sub => new TreeItemData<CategoryDto>
             {
             Value = sub,
             Children = new List<TreeItemData<CategoryDto>>(),
             Expanded = sub.IsExpanded
             }).ToList()
         : new List<TreeItemData<CategoryDto>>()
                    }).ToList();
                }
            else
                {
                Snackbar.Add(response.Message, Severity.Error);
                }
            }
        catch (Exception ex)
            {
            Snackbar.Add($"An error occurred while loading category tree: {ex.Message}", Severity.Error);
            }
        finally
            {
            IsLoading = false;
            }
        }


    private async Task LoadLanguagesAsync()
        {
        var response = await languageService.GetLanguagesAsync();
        if (response.Success)
            {
            Languages = response.Data;
            SelectedLanguageId = Languages.FirstOrDefault()?.Id ?? 1;
            }
        else
            {
            Snackbar.Add("Error fetching languages", Severity.Error);
            }
        }

    #endregion
    #region Save_Edit

    private async Task OpenAddDialog(CategoryDto? item)
        {
        try
            {
            var options = new DialogOptions { CloseButton = true, FullWidth = true };
            var parameters = new DialogParameters { ["Item"] = item ?? new CategoryDto() };





            var result = await DialogService.Show<NewGeneralCategory>(string.Empty, parameters, options).Result;
            string value = result.Data as string ?? string.Empty;
            if (!result.Canceled && value != null)
                {


                var data = result.Data as dynamic;
                string newCategoryName = data.Name ?? string.Empty;
                string newCategoryIcon = data.Icon ?? string.Empty;
                byte[] newCategoryImageByte = data.ImageByte ?? Array.Empty<byte>();

                if (!string.IsNullOrEmpty(newCategoryName))
                    {

                    if (item == null)
                        {
                        var category = new Category
                            {
                            Name = newCategoryName,

                            Level = 1,
                            ParentCategoryId = null,
                            Icon = newCategoryIcon ?? string.Empty,
                            ImageByte = newCategoryImageByte,




                            };

                        Category cate = await SaveOrUpdateCategoryAsync(category);
                        if (cate != null)
                            {
                            //TreeItems.Add(new CategoryDto { Name = newCategoryName, Level = category.Level, Id = category.Id, ParentCategoryId = category.ParentCategoryId, Icon = cate.Icon });

                            TreeItems.Add(new TreeItemData<CategoryDto>
                                {

                                Value = new CategoryDto
                                    {
                                    Name = newCategoryName,
                                    Level = category.Level,
                                    Id = category.Id,
                                    ParentCategoryId = category.ParentCategoryId,
                                    Icon = cate.Icon
                                    },
                                Text = newCategoryName,
                                Icon = !string.IsNullOrEmpty(cate.Icon) ? $"/Category/{category.Id}/{cate.Icon}" : "",
                                Children = new List<TreeItemData<CategoryDto>>() // Initialize empty subcategory list
                                });

                            }

                        }
                    else
                        {
                        var category = new Category
                            {
                            Name = newCategoryName,
                            Icon = newCategoryIcon ?? string.Empty,
                            ImageByte = newCategoryImageByte,
                            Level = item.Level + 1,
                            ParentCategoryId = item.Id
                            };
                        Category cate = await SaveOrUpdateCategoryAsync(category);

                        if (cate != null)
                            {
                            item.SubCategories.Add(new CategoryDto { Name = newCategoryName, Level = category.Level, Id = category.Id, ParentCategoryId = category.ParentCategoryId, Icon = cate.Icon });
                            }

                        }
                    }
                }
            }


        catch (Exception ex)
            {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
            }
        }
    private async Task OpenEditDialog(CategoryDto item)
        {

        try
            {
            var options = new DialogOptions { CloseButton = true, FullWidth = true };
            /// var parameters = new DialogParameters { ["Item"] = item ?? new CategoryDto(), ["IsEdit"] = true };


            var parameters = new DialogParameters
                {
                ["Item"] = item ?? new CategoryDto(),
                ["IsEdit"] = true,
                ["Languages"] = Languages,
                ["Translations"] = item.Translations,
                };


            var result = await DialogService.Show<NewGeneralCategory>(string.Empty, parameters, options).Result;

            if (!result.Canceled)
                {

                var data = result.Data as dynamic;
                string newName = data.Name ?? string.Empty;
                string newCategoryIcon = data.Icon ?? string.Empty;
                byte[] newCategoryImageByte = data.ImageByte ?? Array.Empty<byte>();
                var updatedTranslations = data.Translations as List<CategoryTranslationDto> ?? new List<CategoryTranslationDto>();
                updatedTranslations.ForEach(a => a.CategoryId = item.Id);

                if (string.IsNullOrWhiteSpace(newName))
                    {
                    newName = updatedTranslations.FirstOrDefault(t => t.LanguageId == 1)?.TranslatedName ?? string.Empty;
                    }


                if (!string.IsNullOrEmpty(newName))
                    {
                    item.Name = newName;

                    var category = new Category
                        {
                        Id = item.Id,
                        Name = item.Name,
                        Icon = newCategoryIcon ?? string.Empty,
                        ImageByte = newCategoryImageByte,
                        Level = item.Level,
                        ParentCategoryId = item.ParentCategoryId,
                        Translations = updatedTranslations.Select(t => new CategoryTranslation
                            {
                            Id = t.Id,
                            CategoryId = item.Id,
                            LanguageId = t.LanguageId,
                            TranslatedName = t.TranslatedName
                            }).ToList()

                        };

                    await SaveOrUpdateCategoryAsync(category);
                    }
                }

            }
        catch (Exception ex)
            {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
            }
        }
    private async Task<Category> SaveOrUpdateCategoryAsync(Category category)
        {
        try
            {
            ServiceResponse<Category> response;
            if (category.Id == 0)
                {
                response = await CategoryService.AddCategoryAsync(category);
                }
            else
                {
                response = await CategoryService.UpdateCategoryAsync(category);
                }
            if (response.Success)
                {
                Snackbar.Add(response.Message, Severity.Success);


                var CategoryImagesPath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Category", category.Id.ToString());


                if (category.ImageByte != null && category.ImageByte.Length > 0)
                    {


                    if (Directory.Exists(CategoryImagesPath))
                        {
                        Directory.Delete(CategoryImagesPath, true);
                        }

                    if (!Directory.Exists(CategoryImagesPath))
                        {
                        Directory.CreateDirectory(CategoryImagesPath);
                        }

                    var filePath = Path.Combine(CategoryImagesPath, category.Icon);
                    await File.WriteAllBytesAsync(filePath, category.ImageByte);

                    category.Icon = category.Icon;
                    }



                return category;
                }
            else
                {
                Snackbar.Add(response.Message, Severity.Error);
                return null;
                }
            }
        catch (Exception ex)
            {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
            return null;
            }
        }
    #endregion

    private CategoryDto MapToCategoryDto(Category category)
        {
        return new CategoryDto
            {
            Id = category.Id,
            Name = category.Name,
            Icon = category.Icon,
            Level = category.Level,
            ParentCategoryId = category.ParentCategoryId,
            SubCategories = category.SubCategories?.Select(MapToCategoryDto).ToList()
            };
        }

    #region Remove

    private async Task ConfirmRemoveDialog(CategoryDto item)
        {
        bool? result = await DialogService.ShowMessageBox(
            "Confirm Delete",
            $"Are you sure you want to delete '{item.Name}'?",
            yesText: "Yes", cancelText: "No"
        );

        if (result == true)
            {



            var success = await DeleteCategoryAsync(item.Id);
            if (success)
                {
                Snackbar.Add("Category deleted successfully", Severity.Success);

                var CategoryImagesPath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Category", item.Id.ToString());


                if (Directory.Exists(CategoryImagesPath))
                    {
                    Directory.Delete(CategoryImagesPath, true);
                    }

                await LoadCategoryTreeAsync();
                }

            }
        }



    private async Task<bool> DeleteCategoryAsync(long id)
        {
        try
            {
            var response = await CategoryService.DeleteCategoryAsync(id);
            return response.Success;
            }
        catch (Exception ex)
            {
            Snackbar.Add($"An error occurred while deleting category: {ex.Message}", Severity.Error);
            return false;
            }
        }


    private async Task<bool> RemoveCategoryAndDeleteAsync(List<CategoryDto> categories, long id)
        {
        var itemToRemove = categories.FirstOrDefault(c => c.Id == id);
        if (itemToRemove != null)
            {
            if (await DeleteCategoryAsync(id))
                {
                categories.Remove(itemToRemove);

                Snackbar.Add(itemToRemove.Name + "Category deleted successfully", Severity.Success);
                return true;
                }
            else
                {
                Snackbar.Add("Failed to delete category", Severity.Error);
                return false;
                }
            }
        else
            {
            foreach (var category in categories)
                {
                if (await RemoveCategoryAndDeleteAsync(category.SubCategories, id))
                    {
                    Snackbar.Add("Category deleted successfully", Severity.Success);
                    return true;
                    }
                }
            }

        Snackbar.Add("Category not found", Severity.Warning);
        return false;
        }


    private void CollectCategoriesToDelete(CategoryDto category, HashSet<CategoryDto> categoriesToDelete)
        {
        categoriesToDelete.Add(category);
        foreach (var subCategory in category.SubCategories)
            {
            CollectCategoriesToDelete(subCategory, categoriesToDelete);
            }
        }

    #endregion


    private CategoryDto _selectedItem;
    private string GetItemClass(CategoryDto item)
        {
        return item == _selectedItem ? "custom-tree-item custom-tree-item-selected" : "custom-tree-item";
        }

    private string GetIcon(CategoryDto item)
        {
        return item.Icon; ;
        }

    private async void SelectItem(CategoryDto item)
        {
        var response = await CategoryService.GetCategoriesByParentId(item.Id, 1);

        if (response.Success)
            {

            item.SubCategories = new List<CategoryDto>(response.Data);
            var treeItem = FindTreeItem(TreeItems, item.Id);
            if (treeItem != null)
                {

                if (treeItem != null)
                    {
                    treeItem.Children = response.Data.Select(sub => ConvertToTreeItemData(sub)).ToList();
                    treeItem.Expanded = true;
                    }
                }
            StateHasChanged();
            }
        else
            {
            Snackbar.Add(response.Message, Severity.Error);
            }

        _selectedItem = item;
        StateHasChanged();
        }

    private void OnToggleClicked(CategoryDto item, bool isExpanded)
        {
        Console.WriteLine($"Toggled: {item.Name}, Expanded: {isExpanded}");

        // Example custom logic:
        if (isExpanded)
            {
            SelectItem(item);
            // e.g., Load data dynamically here if needed
            }
        else
            {
            Console.WriteLine($"Node '{item.Name}' collapsed");
            }
        }

    private async Task MarkCategory(CategoryDto category)

        {

        if (category.MarkCategory)
            {
            category.MarkCategory = false;

            }
        else
            {
            category.MarkCategory = true;
            }
        var response = await CategoryService.MarkUnmarkCategoryAsync(category.Id, category.MarkCategory);
        if (response.Success)
            {
            Snackbar.Add(response.Message, Severity.Success);

            }
        else
            {
            Snackbar.Add(response.Message, Severity.Error);
            }


        }
    private TreeItemData<CategoryDto> FindTreeItem(List<TreeItemData<CategoryDto>> treeItems, long id)
        {
        foreach (var treeItem in treeItems)
            {
            if (treeItem.Value.Id == id)
                return treeItem;

            if (treeItem.Children != null)
                {
                var found = FindTreeItem(treeItem.Children.ToList(), id);
                if (found != null)
                    return found;
                }
            }
        return null;
        }
    private TreeItemData<CategoryDto> ConvertToTreeItemData(CategoryDto category)
        {
        return new TreeItemData<CategoryDto>
            {
            Value = category,
            Expanded = false,
            Children = category.SubCategories?.Select(sub => ConvertToTreeItemData(sub)).ToList() ?? new List<TreeItemData<CategoryDto>>()
            };
        }

}